---
title: Snyk for PCF (Beta)
owner: Partners
---

<p class="note warning">
<strong>WARNING! </strong>
The Snyk for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes the Snyk for Pivotal Cloud Foundry (PCF). The Snyk for PCF 
enables developers to find, fix, prevent and continuously monitor for known vulnerabilities and license issues in their open source dependencies.

## <a id='overview'></a>Overview

Snyk for PCF is a full on-prem installation of the Snyk solution. Installing it conveniently sets up the Snyk solution
with minimal configuration and human interaction.
Snyk for PCF includes access to the entire suite of Snyk solutions, including Snyk source code management (SCM) integrations
with Github Enterprise, Bitbucket Server and Gitlab; Snyk CLI; Snyk APIs; Snyk Cloud Foundry integration; Snyk Lambda integration; Snyk Jira integration and more.

In addition, customers leveraging the Snyk Service Broker to invoke Snyk scans on `cf push` via the various buildpacks, will be able to point the Service Broker to this on-prem installation
instead of the default Snyk SaaS service (https://snyk.io)

## <a id='features'></a>Key Features

Snyk for PCF includes the following key features:

* **Scan:** Scan for known vulnerabilities and license issues in open source components
* **Fix:** Automate remediation with Fix pull requests (via SCM integraiton) or with `snyk wizard` (via CLI)
* **Patch:** Fixes include upgrades and Snyk's proprietary precision patches
* **Continuous Monitoring:** Get alerted on new vulnerabilities that impact your existing dependencies
* **SCM Integration:** Quickly import all your repos from Github Enterprise, Bitbucket Server or Gitlab
* **Reporting:** Enterprise reporting and dashboards give you the state of your security vulnerabilities and license issues in one place
* **License scanning:** Create an open source license policy to make sure your applications stay compliant
* **User Management:** SSO, hierarchies, superpowered reports and quick filters make user management fully flexible
* **Issue Tracking:** Manage issue lifecycle with Jira integration or with custom webhooks
* **CLI:** Fully functional and completely flexible CLI allows you to embed Snyk in any use case
* **API:** Integrate Snyk scans into your CI/CD pipeline with ease. Extract all data to augment your existing dashboards



## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Snyk for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.10.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 12, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Snyk for PCF v0.10.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.1 and v2.2</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (formerly known as Elastic Runtime) version(s)</td>
        <td>v2.1 and v2.2</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>
* As of PCF v2.0, <em>Elastic Runtime</em> is renamed <em>Pivotal Application Service (PAS)</em>. 

## <a id="reqs"></a>Requirements
Snyk for PCF has the following requirements:

+ A paid Snyk Enterprise account. Learn more about [Snyk plans](https://snyk.io/plans).
+ `ubuntu-xenial` stemcell
+ Ability to provision a VM with resource specs of at least: 8GB ram, 80GB disk, 2 cpus

## <a id="limitations"></a>Limitations

None

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or send an email to [Snyk Support](mailto:support@snyk.io).

## <a id='license'></a>License

Customers interested in using Snyk for PCF can download the tile and install it with a trial license. 
To obtain a trial or production license and 24/7 support, please contact a [Snyk sales representative](mailto:sales@snyk.io).


