---
title: Installing and Configuring Snyk for PCF
owner: Partners
---

This topic describes how to install and configure Snyk for PCF.

##<a id='install'></a> Install and Configure Snyk for PCF

To install the Snyk for PCF tile on the Ops Manager Installation Dashboard, do the following:

1. Download the product tile from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product tile. 

1. Under the **Import a Product** button, click **+** next to the version number of Snyk for PCF. 
This adds the tile to your staging area.

1. Click the newly added **Snyk for PCF** tile.

1. If you have not obtained a trail or production license key, please contact a [Snyk sales representative](mailto:sales@snyk.io)

1. MIKI: <instructions on where to place the license key, and what to expect + screenshot> 

1. MIKI: <any configurations? + screenshot>

1. MIKI: <other???>

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply changes** to install Snyk for PCF tile.

1. MIKI: <any optional configuration steps that aren't MANDATORY during installation???>
