---
title: Release Notes for Snyk for PCF
owner: Partners
---

These are release notes for Snyk for PCF.

##<a id="ver"></a> v0.1.0

**Release Date:** September 1, 2018

Features included in this release:

* Github Enterprise, Bitbucket Server and Gitlab Integrations
* APIs
* CLI
* Pivotal Cloud Foundry Integration
* Jira Integration
* AWS Lambda and Azure Functions Integration
* Reporting
* User management

Fixed issues in this release:

None
