---
title: Release Notes for Snyk for Pivotal Platform
owner: Partners
---

These are release notes for Snyk for Pivotal Platform.

## <a id="ver"></a> v0.25.0

**Release Date:** February 7, 2019

Features included in this release:

* .NET support
* Lockfiles support
* API additions
* Docker binaries scanning
* Overall performance improvements

## <a id="ver"></a> v0.10.0

**Release Date:** September 11, 2018

Features included in this release:

* GitHub Enterprise, Bitbucket Server, and GitLab Integrations
* APIs
* CLI
* Pivotal Platform Integration
* Jira Integration
* AWS Lambda and Azure Functions Integration
* Reporting
* User management
