---
title: Release Notes for Snyk for PCF
owner: Partners
---

These are release notes for Snyk for PCF.


## <a id="ver"></a> v0.10.0

**Release Date:** September 11, 2018

Features included in this release:

* GitHub Enterprise, Bitbucket Server, and GitLab Integrations
* APIs
* CLI
* Pivotal Cloud Foundry Integration
* Jira Integration
* AWS Lambda and Azure Functions Integration
* Reporting
* User management
