---
title: Using Snyk for PCF
owner: Partners
---

This topic describes how to use Snyk for PCF.

##<a id='using'></a> Using Snyk for PCF

Use this integration to find, fix, prevent and continuously monitor for known vulnerabilities and license issues in your open source dependencies

* Watch this 2 min video to get a quick [Introduction to Snyk](https://youtu.be/4ng5usM6fd8)

* Start by [connecting Snyk to your SCM](https://youtu.be/4ng5usM6fd8) (Source Code Manager)

* Test and monitor with the [Snyk CLI](https://snyk.io/docs/using-snyk)

* Extract scan results with the [Snyk API](https://snyk.docs.apiary.io/#)

* Dashboards, bill of materials, and license reports with [Snyk Reports](https://snyk.io/docs/reports)

* Scan your deployed [Pivotal Cloud Foundry](https://snyk.io/docs/pivotal-web-services) applications

* Continuously monitor your deployed [AWS Lambdas](https://snyk.io/docs/aws-lambda) or [Azure Functions](https://snyk.io/docs/azure-functions)
