---
title: Using Snyk for VMware Tanzu
owner: Partners
---

This topic describes how to use Snyk for VMware Tanzu.


## <a id='using'></a> Using Snyk for VMware Tanzu

Use this integration to find, fix, prevent, and continuously monitor for known vulnerabilities and license issues in your open source dependencies.

1. Watch this two-minute video to get a quick [introduction to Snyk](https://youtu.be/4ng5usM6fd8).

1. [Connect Snyk to your SCM](https://snyk.io/docs/github).

1. Test and monitor with the [Snyk CLI](https://snyk.io/docs/using-snyk).

1. Extract scan results with the [Snyk API](https://snyk.docs.apiary.io/#).

1. Get dashboards, a bill of materials, and license reports with [Snyk Reports](https://snyk.io/docs/reports).

1. Scan your deployed [VMware Tanzu](https://snyk.io/docs/pivotal-web-services) apps.

1. Continuously monitor your deployed [AWS Lambdas](https://snyk.io/docs/aws-lambda) or [Azure Functions](https://snyk.io/docs/azure-functions).
